---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Container from '../components/Container.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import GitHub from '../components/icons/GitHub.astro';
import Mail from '../components/icons/Mail.astro';
import ScriptIcon from '../components/icons/Script.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import Automation from '../components/icons/Automation.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="DB Porfolio - Desarrollador y Programador Web"
description="Contrata a Diego para crear tu aplicaci贸n web o m贸vil.">
  <main class="px-4">
    <Container class="pt-40 pb-24">
      <div class="avatar online">
        <div class="size-16 rounded-full mb-4">
          <img 
            src="https://lh3.googleusercontent.com/a/ACg8ocL7kcYe26piSkHEPOD7xyDnFTmjHl6Otm9sp-ubTP-vhGs_-CQA=s288-c-no"
            alt="wizardmon" />
        </div>
      </div>
      <div class="badge badge-neutral flex justify-center items-center">
        <a 
        href="https://www.linkedin.com/in/diegobrando/"
        target="_blank"
        rel="noopener">Disponible para laburar
        </a>
      </div>
    
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-10 lg:pb-6 text-opacity-90">Ahoy!, soy Diego Brando        
      </h1>
      <h2 class="text-white text-xl md-text-2xl lg:text-3xl text-pretty max-w-[600px] opacity-80">+Experiencia and stuff <span class="text-yellow-400">Pythonista</span>, entusiasta de la <span class="text-blue-400">programaci贸n funcional</span> y el c贸digo abierto</h2>
    
    <nav class="flex gap-4 mt-4 flex-wrap">
      <SocialPill href="https://www.linkedin.com/in/diegobrando/">
        <LinkedIn class=" size-4 md:size-5 lg:size-6" />
        LinkedIn
      </SocialPill>
      <SocialPill href="https://github.com/Codewarlok">
        <GitHub class=" size-4 md:size-5 lg:size-6" />
        GitHub
      </SocialPill>
      <SocialPill href="mailto:diego3rando@gmail.com">
        <Mail class=" size-4 md:size-5 lg:size-6" />
        Diego3rando@gmail.com
      </SocialPill>
    </nav>
    </Container>

    <Container id="experiencia" class="mb-28">
      <h2 class="text-white opacity-90 text-2xl font-semibold mb-10 flex gap-x-2 items-center">
        <ScriptIcon class="size-6 md:size-8" />
        Experiencia</h2>
      <Experience />
    </Container>

    <Container id="proyectos">
      <h2 class="text-white opacity-90 text-2xl font-semibold mb-10 flex gap-x-2 items-center">
        <Automation class="size-6 md:size-8" />
        Proyectos</h2>
      <Projects />
    </Container>
  </main>
</Layout>