---
const personalImageAlt = "Diego Brando"
const imgSrc = "/BAeeE.png"
const darkImgSrc = "/BAElnrt.png"

---
<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      Me llamo Diego pero mis amigos me llaman quote. Me gusta el pollito koreano y la doble peperoni. Actualmente estoy <strong>liderando equipos de desarrollo en multinacionales</strong>.</p>

    <p>
      Algunos de mis éxitos incluyen <strong>hacer un hummus de la puta madre</strong>. Aunque hoy está desaparecido fue un gran avance en el mundo del desarrollo web.</p>

    <p>
      Como performista bizarro, <strong>cuento con la mesa de rol más intensa en la campaña actual que es  <em class="italic">"La maldición de Nandor (el implacable)"</em> </strong>. Mi objetivo es mejorar la inclusibilidad en los estándares de desarrollo web y el acceso a contenido de calidad.</p>
  </div>
  <img width="200" height="200" src={imgSrc} alt={personalImageAlt} class="order-1 md:order-2 object-cover w-64 h-full md:h-96 lg:h-auto lg:w-72 p-1  rotate-3 lg:p-2 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 transition duration-500 md:scale-110  md:group-hover:scale-105 lg:scale-110 lg:group-hover:scale-105" style="object-position: 50% 50%" loading="lazy"/>

</article>

