---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
  {
    date: 'Actualmente...',
    title: 'Full-Stack Developer',
    company: 'Nanaisoft.',
    description: 'I work on the frontend team to build and maintain the company\'s website. I am responsible for the design and implementation of new features and improvements to the site. I also work closely with the design team to ensure that the site is visually appealing and user-friendly.',
    link: "#"
  },
  {
    date: 'Marzo 2020 - Actualmente...',
    title: 'Web Developer',
    company: 'Tech Corp.',
    description: 'I worked on a team of developers to build and maintain the company\'s website. I was responsible for the implementation of new features and improvements to the site. I also worked closely with the design team to ensure that the site was visually appealing and user-friendly.',
  },
  {
    date: 'Actualmente...',
    title: 'Junior Developer',
    company: 'Acme Inc.',
    description: 'I worked on a team of developers to build and maintain the company\'s website. I was responsible for the implementation of new features and improvements to the site. I also worked closely with the design team to ensure that the site was visually appealing and user-friendly.',
  },
];
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
      EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-4">
          <ExperienceItem {...experience} />
        </li>
        ))
    }   
</ol>