---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
  {
    date: 'Actualmente...',
    title: 'Full-Stack Developer',
    company: 'Nanaisoft.',
    description: 'I work on the frontend team to build and maintain the company\'s website. I am responsible for the design and implementation of new features and improvements to the site. I also work closely with the design team to ensure that the site is visually appealing and user-friendly.',
    link: "#"
  },
  {
    date: 'Marzo 2023 - Actualmente...',
    title: 'Web Developer',
    company: 'Tech Corp.',
    description: 'I worked on a team of developers to build and maintain the company\'s website. I was responsible for the implementation of new features and improvements to the site. I also worked closely with the design team to ensure that the site was visually appealing and user-friendly.',
  },
  {
    date: "Septiembre 2022",
    title: "Principal Frontend Engineer",
    company: "Adevinta Spain",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creaci칩n y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantaci칩n de medidas de integraci칩n continua y despliegue con A/B testing en m치s de 15 equipos.",
  },
  {
    date: 'Actualmente...',
    title: 'Junior Developer',
    company: 'Acme Inc.',
    description: 'I worked on a team of developers to build and maintain the company\'s website. I was responsible for the implementation of new features and improvements to the site. I also worked closely with the design team to ensure that the site was visually appealing and user-friendly.',
  },
];
---
<ol class="relative items-center border-s-2 border-gray-300 dark:border-gray-700 max-w-[700px] ml-3">
    {
      EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-4">
          <ExperienceItem {...experience} />
        </li>
        ))
    }   
</ol>