---
const currentYear = new Date().getFullYear();
---

<footer class="glass rounded-lg shadow bg-black/20 backdrop-blur-lg w-full mx-auto xl:w-[1120px] m-2 mt-20 mb-10 opacity-80">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm  text-gray-500 sm:text-center dark:text-sky-50">© {currentYear} <a href="#" class="hover:underline">Nanaisoft™</a>. Todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-gray-400 sm:mt-0">
        <li>
          <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
        </li>
        <li>
          <a id="contacto" href="mailto:Diego3rando@gmail.com" class="hover:underline">Contacto</a>
        </li>
    </ul>
  </div>
</footer>