---
const { href } = Astro.props
---

<a
  href={href}
  role="link"
  class="inline-flex items-center justify-center gap-2 px-2 py-1 md:px-3 md:py-2 space-x-2 text-base dark:text-white/90 transition bg-gray-300 dark:bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-100 hover:border-gray-900 group max-w-fit rounded-xl hover:text-blue-600  focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
  <slot />
</a>