<a 
class={`
bg-gray-300 dark:bg-white/5 dark:text-white/80 focus-visible:ring-yellow-500/80 group max-w-fit 
rounded-full border border-white/10 
inline-flex justify-center items-center gap-2 px-2 
lg:py-1 lg:px-3 text-xs md:text-sm lg:text-base 
hover:scale-110 hover:bg-white/10 hover:text-white/90 
focus:outline-none focus-visible:outline-none focus-visible:ring 
focus-visible:ring-white focus-visible:ring-offset-2 
active:bg-black transition-colors duration-200 ease-in-out`}
{...Astro.props}
target="_blank"
rel="noopener noreferrer"
role="link"
>
  <slot />
</a>